{:description "A simple tool to manage your bibliography resources locally."
 :url "https://github.com/ptrLx/bibcli"
 :paths ["src"]
 :deps {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :sha "1a841c4cc1d4f6dab7505a98ed2d532dd9d56b78"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        org.clojure/data.json {:mvn/version "2.4.0"}}}
